{% extends "base.html" %}

{% block content %}
<div class="ncf-container">

    <h2 class="titulo">Configurar NCF</h2>

    <div class="card-ncf">

        <div class="form-group">
            <label>Tipo de NCF</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Desde</label>
            <input type="number">
        </div>

        <div class="form-group">
            <label>Hasta</label>
            <input type="number">
        </div>

        <button class="btn-guardar">
            Guardar Configuración
        </button>

    </div>

</div>

{% endblock %}