body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f6f9;
}

.sidebar {
   position: fixed;
   left: 0;
   top: 0;
   width: 250px;
   height: 100vh;
   background-color: #141429;
   color: white;
   padding: 20px;
}

.main-content {
margin-left: 250px;
padding: 40px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #2e2e48;
    color: white;
}

.main {
    margin-left: 240px;
    padding: 30px;
    width: 100%;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background: #4CAF50;
    color: white;
}

.btn-warning {
    background: #f39c12;
    color: white;
}

.btn-danger {
    background: #e74c3c;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-facturas th{
    background:#f2f2f2;
    text-align:left;
}

.tabla-facturas tr:hover{
    background:#f9f9f9;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#ffffff;

}

.login-wrapper{

width:100%;
display:flex;
justify-content:center;
align-items:center;

}

.login-card{

background:white;
padding:40px;
width:380px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);

}

h2{

text-align:center;
margin-bottom:30px;

}

.input-group{

position:relative;
margin-bottom:20px;

}

.input-group i{

position:absolute;
left:12px;
top:50%;
transform:translateY(-50%);
color:#141429;

}

.input-group input{

width:100%;
padding:12px 12px 12px 40px;
border:1px solid #141429;
border-radius:6px;
font-size:14px;

}

.input-group input:focus{

outline:none;
border-color:#141429;
box-shadow:0 0 5px rgba(187,185,172,0.5);

}

.password .toggle-password{

position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#141429;

}

.login-btn{

width:100%;
padding:12px;
background:#141429;
border:none;
border-radius:6px;
color:white;
font-size:15px;
cursor:pointer;
transition:0.3s;

}

.login-btn:hover{

background:#a8a69c;

}

.divider{

text-align:center;
margin:25px 0;
position:relative;

}

.divider span{

background:white;
padding:0 10px;
color:#a8a69c;

}

.divider:before{

content:"";
position:absolute;
top:50%;
left:0;
width:100%;
height:1px;
background:#ddd;
z-index:-1;

}

.social-login{

display:flex;
justify-content:center;
gap:15px;

}

.social-login button{

width:45px;
height:45px;
border-radius:50%;
border:none;
font-size:18px;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
color:white;
transition:0.3s;

}

.google{

background:#DB4437;

}

.facebook{

background:#1877F2;

}

.x{

background:black;

}

.social-login button:hover{

transform:scale(1.1);

}

/* fondo general */
body{
    background-color: #dbd7d7;
    font-family: Arial, Helvetica, sans-serif;
}

/* contenedor del contenido */
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* tarjeta del formulario */
.form-card{
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 420px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* titulo */
.form-card h1{
    text-align: center;
    margin-bottom: 30px;
    color: #141429;
}

/* campos */
.form-card input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* botón */
.form-card button{
    width: 100%;
    padding: 12px;
    background-color: #141429;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.form-card button:hover{
    background-color: #1f1f3f;
}

.alert {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

.alert.error {
    background-color: #ff4d4d;
    color: white;
}

.alert.success {
    background-color: #28a745;
    color: white;
}