*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f9;
}

.sidebar {
   position: fixed;
   left: 0;
   top: 0;
   width: 250px;
   height: 100vh;
   background-color: #1e293b;
   color: white;
   padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    width: 100%;
    color: #ccc !important;
    text-decoration: none;
    margin: 6px 0;
    padding: 12px 15px;
    border-radius: 8px;
    transition: all 0.25s ease;
}

.sidebar a:hover {
    background: #2e2e48;
    color: white !important;
}

.sidebar a:link{
    color:#ccc;
}

.sidebar a:visited{
    color:#ccc !important;
}

.sidebar a:active{
    color:white !important;
}

.main-content {
margin-left: 250px;
padding: 40px;
}

.main {
    margin-left: 240px;
    padding: 30px;
    width: 100%;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background: #4CAF50;
    color: white;
}

.btn-warning {
    background: #f39c12;
    color: white;
}

.btn-danger {
    background-color: #e74c3c !important;
    color: white !important;
    border: none;
}

.btn-danger:hover {
    background-color: #c0392b !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-facturas th{
    background:#f2f2f2;
    text-align:left;
}

.tabla-facturas tr:hover{
    background:#f9f9f9;
} 

.form-card{
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form-card h1{
text-align: center;
margin-bottom: 30px;
color: #141429;
}

.form-card input{
width: 100%;
padding: 10px;
margin-top: 5px;
margin-bottom: 20px;
border-radius: 6px;
border: 1px solid #ccc;
}

.form-card button{
width: 100%;
padding: 12px;
background-color: #141429;
color: white;
border: none;
border-radius: 6px;
font-size: 16px;
cursor: pointer;
}

.form-card button:hover{
background-color: #1f1f3f;
}

.alert {
padding: 10px;
border-radius: 6px;
margin-bottom: 10px;
font-size: 14px;
text-align: center;
}

.alert.error {
background-color: #ff4d4d;
color: white;
}

.alert.success {
background-color: #28a745;
color: white;
}

label {
    color: rgb(0, 0, 0);
}