body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f6f9;
}

.sidebar {
    width: 220px;
    background: #1e1e2f;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #2e2e48;
    color: white;
}

.main {
    margin-left: 240px;
    padding: 30px;
    width: 100%;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background: #4CAF50;
    color: white;
}

.btn-warning {
    background: #f39c12;
    color: white;
}

.btn-danger {
    background: #e74c3c;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-facturas th{
    background:#f2f2f2;
    text-align:left;
}

.tabla-facturas tr:hover{
    background:#f9f9f9;
}