{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4">Clientes</h2>

<div class="card shadow p-4 mb-4">

<h5 class="mb-3">Agregar nuevo cliente</h5>

<form method="POST">

<div class="row">

<div class="col-md-6 mb-3">
<label class="form-label">Nombre</label>
<input type="text" name="nombre" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label class="form-label">RNC</label>
<input type="text" name="rnc" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label class="form-label">Teléfono</label>
<input type="number" name="telefono" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label class="form-label">Dirección</label>
<input type="text" name="direccion" class="form-control">
</div>

</div>

<button class="btn btn-primary">Guardar Cliente</button>

</form>

</div>

<div class="card shadow p-3">

<h5 class="mb-3">Lista de clientes</h5>

<div class="table-responsive">

<table class="table table-bordered table-hover align-middle">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>RNC</th>
<th>Teléfono</th>
<th>Dirección</th>
</tr>
</thead>

<tbody>

{% for c in clientes %}

<tr>
<td>{{ c["id"] }}</td>
<td>{{ c["nombre"] }}</td>
<td>{{ c["rnc"] }}</td>
<td>{{ c["telefono"] }}</td>
<td>{{ c["direccion"] }}</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

{% endblock %}