{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    

<div class="d-flex align-items-center mb-4">

    <a href="{{ url_for('index') }}" class="me-3 text-decoration-none">
        <i class="bi bi-arrow-left fs-4"></i>
    </a>

    <h2 class="mb-0">Clientes</h2>

</div>

<div class="card shadow p-4 mb-4">

<h5 class="mb-3">Agregar nuevo cliente</h5>

<form method="POST">

<div class="row">

<div class="col-md-6 mb-3">
<label class="form-label">Nombre</label>
<input type="text" name="nombre" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label class="form-label">RNC</label>
<input type="text" name="rnc" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label class="form-label">Teléfono</label>
<input type="tel"
       name="telefono"
       class="form-control"
       placeholder="+1 (809) 123-4567"
       inputmode="numeric"
       oninput="this.value = this.value.replace(/[^0-9+\-\s()]/g, '')">
</div>

<div class="col-md-6 mb-3">
<label class="form-label">Dirección</label>
<input type="text" name="direccion" class="form-control">
</div>

</div>

<button class="btn btn-primary">Guardar Cliente</button>

</form>

</div>

<div class="card shadow p-3">

<h5 class="mb-3">Lista de clientes</h5>

<div class="table-responsive">

<table class="table table-bordered table-hover align-middle">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>RNC</th>
<th>Teléfono</th>
<th>Dirección</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

{% for c in clientes %}

<tr>
<td>{{ c["id"] }}</td>
<td>{{ c["nombre"] }}</td>
<td>{{ c["rnc"] }}</td>
<td>{{ c["telefono"] }}</td>
<td>{{ c["direccion"] }}</td>

<td>
    <a
    href="{{ url_for('editar_cliente',
        id=c['id']) }}"
        class="btn btn-warning btn-sm">
        Editar
    </a>


    <form
        action="{{ url_for('eliminar_cliente',
        id=c['id']) }}"
        method="POST"
        style="display:inline;">
        <button class= "btn btn-danger btn-sm"
        onclick="return confirm('¿Eliminar cliente?')">
    Eliminar
</button>
    </form>

</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

{% endblock %}