{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="main-content">

    <div class="form-card">

        <h1>Configurar NCF</h1>

        <form>

            <label>Tipo de NCF</label>
            <input type="text">

            <label>Desde</label>
            <input type="text">

            <label>Hasta</label>
            <input type="text">

            <button>Guardar Configuración</button>

        </form>

    </div>

</div>
{% endblock %}