{% extends "base.html" %}

{% block content %}

<h2>Configurar NCF</h2>

<form method="POST">

    <label>Tipo de NCF</label>
    <input type="text" name="tipo" value="{{ config.tipo if config else '' }}" required>

    <br><br>

    <label>Desde</label>
    <input type="number" name="desde" value="{{ config.desde if config else '' }}" required>

    <br><br>

    <label>Hasta</label>
    <input type="number" name="hasta" value="{{ config.hasta if config else '' }}" required>

    <br><br>

    <button type="submit">Guardar Configuración</button>

</form>

{% endblock %}