{% extends "base.html" %}

{% block content %}

<style>

body {
    background: #f4f6fb;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background: #ffffff;
    border-radius: 18px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.card h2 {
    color: #141429;
    margin-bottom: 20px;
    font-weight: 600;
}

.tabla-facturas {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.tabla-facturas thead {
    background: #141429;
    color: #fff;
}

.tabla-facturas th {
    padding: 14px;
    text-align: left;
    font-size: 14px;
}

.tabla-facturas td {
    padding: 14px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.tabla-facturas tbody tr:hover {
    background: #f2f3ff;
    transition: 0.2s;
}

.tabla-facturas td:nth-child(5) {
    font-weight: bold;
    color: #2d2dfc;
}

.btn-primary,
.btn-danger {
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
    transition: 0.2s;
}

.btn-primary {
    background: #dad7ed;
    color: #141429;
}

.btn-primary:hover {
    background: #c9c4e5;
}

.btn-danger {
    background: #ff4d4d;
    color: white;
}

.btn-danger:hover {
    background: #e60000;
}

</style>

<div class="card">

    <div class="d-flex align-items-center mb-4">

    <a href="{{ url_for('index') }}" class="me-3 text-decoration-none">
        <i class="bi bi-arrow-left fs-4"></i>
    </a>

    <h2 class="mb-0">Facturas Emitidas</h2>

</div>

    <table class="tabla-facturas">

        <thead>
            <tr>
                <th>NCF</th>
                <th>Cliente</th>
                <th>RNC</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

        {% for factura in facturas %}

            <tr>
                <td>{{ factura[1] }}</td>
                <td>{{ factura[2] }}</td>
                <td>{{ factura[3] }}</td>
                <td>{{ factura[4] }}</td>
                <td>US$ {{ "{:,.2f}".format(factura[5]) }}</td>

                <td>
                    <a class="btn-primary" href="/descargar_factura/{{ factura[0] }}">
                        Descargar
                    </a>
                    <form action="/eliminar_factura/{{ factura[0] }}" method="POST" style="display:inline;">
                        <button class="btn-danger" type="submit">
                        Eliminar
                        </button>
                    </form>
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}