<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="login-wrapper">

<div class="login-card">

<h2>Iniciar Sesión</h2>

<form method="POST">

<div class="input-group">

<i class="fa fa-user"></i>
<input type="text" name="usuario" placeholder="Usuario" required>

</div>

<div class="input-group password">

<i class="fa fa-lock"></i>
<input type="password" id="password" name="password" placeholder="Contraseña" required>

<span class="toggle-password" onclick="togglePassword()">
<i class="fa fa-eye"></i>
</span>

</div>

<label style="display:flex;align-items:center;gap:6px;margin-top:10px;">
<input type="checkbox" name="recordar">
Recordar sesión
</label>

<button type="submit" class="login-btn">Entrar</button>

</form>

<div class="divider">
<span>o iniciar sesión con</span>
</div>

<div class="social-login">

<button class="google">
<i class="fab fa-google"></i>
</button>

<button class="facebook">
<i class="fab fa-facebook-f"></i>
</button>

<button class="x">
<i class="fab fa-x-twitter"></i>
</button>

</div>

</div>

</div>

<script>

function togglePassword() {

const password = document.getElementById("password");

if(password.type === "password"){
password.type = "text";
}else{
password.type = "password";
}

}

</script>

</body>

</html>